@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    height: 100vh;
    overflow-x: hidden;
}

body {
    background-color: var(--bg, #fff);
    color: var(--fg, #111);
    font-family: "Lucida Sans", sans-serif;
    font-size: 17px;
}

body.dark{
    --bg: #353535;
    --fg: #eeeeee;
    --link: #809fff;
    --backitems: #414141a8;
}

#apresentacao{
    background-color: var(--backitems, #fff);
}

#skills{
    background-color: var(--backitems, #fff);}

#graduation{
    background-color: var(--backitems, #fff);}

.img-project{
    background-color: var(--backitems, #fff);}

html {
  scroll-behavior: smooth;
}

h2{
    color: #3373FD;
}

/* config header/nav */
header{
    height: 50px;
    width: 100vw;
    background-color: rgb(68, 118, 255);
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
}

nav{
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
    gap: 25px;
    height: 100%;
    padding-right: 20px;
}

header > nav > a{
    font-size: large;
    color: white;
}

header > nav > button{
    font-size: large;
    color: white;
    background-color: transparent;
    border: none;
}

.grow:hover{
    animation: zoom-in 0.4s ease forwards;
}

@keyframes zoom-in {
    0%   { transform: scale(1); }
    100% { transform: scale(1.15); }
}

/* Display Grid */
main{
    display: grid;
    grid-template: auto auto / 20px 1fr 20px;
    width: 100%;
    margin-top: 50px;
}


/* Apresentacao */
#apresentacao{
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.perfil{
    max-width: 250px; 
    height: auto;
    border-radius: 50%;
    background-color: transparent;
    padding: 5px;
    border: 5px solid rgb(68, 118, 255);
    border-radius: 50%;
}

#apresentacao > h2{
    text-align: left;
}
#apresentacao > p{
    text-align: justify;
}
#apresentacao > div{
    margin: 10px 0;
}
#apresentacao > div > a{
    font-size: 1.2em;
    color: rgb(51, 115, 253);
    padding: 10px;
}
.pulseshadow:hover {
    animation: pulse-shadow 0.8s ease-in-out infinite;
}
.pulse:hover {
    animation: pulse 0.6s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.07);
    }
    100% {
        transform: scale(1);
    }
}


/* Detalhes */
#detalhes{
    grid-area: 2 / 2 / 3 / 3;
}

#skills{
    padding: 5px;
    border-radius: 10px;
}

.skills{
    scroll-margin-top: 60px;
}

.skill{
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
}

.bar{
    width: 100%;
    height: 10px;
    background-color: rgba(253, 228, 198, 0.767);
    border: 2px solid rgb(82, 121, 252);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(57, 93, 250, 0.733);
}

.html{
    width: 90%;
    height: 100%;
    background-color: #75b0b3;
    border-radius: 10px;
}
.css{
    width: 75%;
    height: 100%;
    background-color: #75b0b3;
    border-radius: 10px;
}
.python{
    width: 85%;
    height: 100%;
    background-color: #75b0b3;
    border-radius: 10px;
}
.sql{
    width: 70%;
    height: 100%;
    background-color: #75b0b3;
    border-radius: 10px;
}
.comunicacao{
    width: 100%;
    height: 100%;
    background-color: #75b0b3;
    border-radius: 10px;
}
.adaptabilidade{
    width: 90%;
    height: 100%;
    background-color: #75b0b3;
    border-radius: 10px;
}

.percent{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
}

.percent-text{
    color: rgb(64, 175, 219);
} 

article{
    margin: 30px 0;
}

#graduation{
    scroll-margin-top: 60px;
    padding: 5px;
    border-radius: 10px;
}

.course{
    margin: 15px 0;
    height: 100px;
    padding: 10px 0;

    border-radius: 20px 0 20px 0;
    border: 1px solid #3498db;
    border-left: 6px solid #3498db;
    background-color: transparent;
    transition: all 0.4s;
}

.course:hover{
    border: 1px solid rgb(0, 81, 255);
    border-left: 16px solid rgb(0, 81, 255);
}
.course:active{
    border: 1px solid rgb(0, 81, 255);
    border-left: 16px solid rgb(0, 81, 255);
}

.course > p{
    padding-left: 20px;
    font-weight: 500;
}

.course > h3{
    padding-left: 20px;
    color: #3498db;
}

#project{
    scroll-margin-top: 60px;
}

.img-project{
    width: auto;
    margin: 10px 0;
    padding: 10px;

    border-radius: 20px;
    border: 1px solid #3498db;
    border-left: 6px solid #3498db;
    background-color: transparent;
    transition: all 0.4s;
}

.img-project:hover{
    border: 1px solid rgb(0, 81, 255);
    border-left: 18px solid rgb(0, 81, 255);
    border-radius: 20px;
}

.img-project > img{
    max-width: 100%;
    border-radius: 10px;
}

.img-project > h3{
    color: #3498db;
}
.img-project > p{
    font-weight: 300;
    font-size: 14px;
}

footer{
    height: 50px;
    width: 100%;
    padding: 15px;
    background-color: rgb(68, 118, 255);
    top:0;
    left: 0;
    text-align: center;
    height: auto;
}